<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2018-2019
  ~ All rights reserved, Designed By www.joolun.com
  ~ 注意：
  ~ 本软件为www.joolun.com开发研制，未经购买不得使用
  ~ 购买后可获得全部源代码（禁止转卖、分享、上传到码云、github等开源平台）
  ~ 一经发现盗用、分享等行为，将追究法律责任，后果自负
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joolun.cloud.mall.admin.mapper.OrderLogisticsDetailMapper">

	<resultMap id="orderLogisticsDetailMap" type="com.joolun.cloud.mall.common.entity.OrderLogisticsDetail">
		<id property="id" column="id"/>
		<result property="tenantId" column="tenant_id"/>
		<result property="delFlag" column="del_flag"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="logisticsId" column="logistics_id"/>
		<result property="logisticsTime" column="logistics_time"/>
		<result property="logisticsInformation" column="logistics_information"/>
	</resultMap>

	<sql id="orderLogisticsDetailSql">
		`order_logistics_detail`.`id`,
		`order_logistics_detail`.`tenant_id`,
		`order_logistics_detail`.`del_flag`,
		`order_logistics_detail`.`create_time`,
		`order_logistics_detail`.`update_time`,
		`order_logistics_detail`.`logistics_id`,
		`order_logistics_detail`.`logistics_time`,
		`order_logistics_detail`.`logistics_information`
	</sql>

	<select id="selectList2" resultMap="orderLogisticsDetailMap">
		SELECT
		<include refid="orderLogisticsDetailSql"/>
		FROM order_logistics_detail order_logistics_detail
		<where>
			<if test="query.logisticsId != null">
				AND order_logistics_detail.`logistics_id` = #{query.logisticsId}
			</if>
		</where>
		ORDER BY `order_logistics_detail`.`logistics_time` DESC
	</select>
</mapper>
